@media print {
body > .container > *:not(.tm-main-content),
  .tm-main-content > *,
  #about {
  display:none;
}
  .tm-main-content > *:first-child,
  .tm-main-content > *:nth-child(2),
footer.tm-footer {
  display: block;
}
.tm-content-box.flex-2-col .flex-item {
  max-width: 40%;
}
.tm-content-box.flex-2-col {
    align-items:center;
}
.tm-content-box.flex-2-col .flex-item {
    width:45%;
}
}
.flex-2-col{
  display: flex;
  justify-content: space-between;
  }
.tm-team-description-container > *:nth-child(2){
  font-style: italic;
}
.tm-main-nav, .tm-content-box{
  box-shadow: 0px 3px 17px 1px #00000040;
}
.tm-banner {
  border: 1px solid gray;
}
section > * {
  box-shadow: 0px 3px 17px 1px #00000040;
}
p::first-letter{
  font-size: 30px;
  color: #87CEFA;
}
#about .boxes .box.box-bg:hover {
  background: #87CEFA;
}
#about .boxes .box.box-bg:hover h2 {
  color: #fff;
}
.tm-content-box {
  overflow: inhe rit;
}
section::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 29px 182px 0 0;
  border-color: #89cef8 transparent transparent transparent;

  }
section{
  position: relative;
}
#tmCarousel .carousel-item h2{
  letter-spacing: 5px;
}
.tm-team-description-container p{
  text-indent: 20px;
  line-height: 2em;
}
.tm-team-description-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
 .heading a{
   text-decoration: none;
   color: black;
   border-bottom: 1px solid white;
 }
 .heading a:visited{
   border-bottom-color: gainsboro;
 }
.heading ol a:hover{
  color: #87CEFA;
  text-decoration: underline;
  text-decoration-style: double;
  border-bottom-color: white;
}
.heading li:nth-child(1)::after,
.heading li:nth-child(3)::after{
  content: "New";
  color: Red;
  font-size: 10px;
  vertical-align: super;
}
.heading li:nth-child(6) a{
  text-decoration: underline;
  border-bottom-color: white;
}
#home .tm-banner-text:first-letter{
  color: #666;
  font-size: 1em;
}
.blocks ul li:nth-child(even) {
  background-color: #f2f2f2;
}
.blocks ul li {
  width: calc(33.3% - 10px);
  padding: 5px;
}
.form-group.mandatory-field:before {
    content: '*';
    position: absolute;
    color: red;
    right: 5px;
}
div#contact button[type="submit"] {
    margin-left: auto;
    display: block;
    color: #a0d8fb;
    background: transparent;
    border: 1px solid #a0d8fb;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 10px 20px;
    border-radius: 0px;
}
div#contact button[type="submit"]:hover {
    color: #fff;
    background: #a0d8fb;
}
nav.tm-main-nav a:hover{
  background-color: grey;
}
